### Ønske om repetisjon fra Kristian: "Indexing"

Det følgende er kopiert ut av "Begreper-arket" fra Dag1, med noen endringer

In [53]:
#Lag en liste
e = [5, '\nok', 7.0]
e

[5, '\nok', 7.0]

In [54]:
# Loop gjennom listen og print både verdien av variabelen, og typen til verdien.
for f in e:
    print(f)
    print(type(f))

5
<class 'int'>

ok
<class 'str'>
7.0
<class 'float'>

In [58]:
print(e[1])

ok

In [60]:
# Overskriv en verdi i listen med indexing
e[1] = "ok2"
e

[5, 'ok2', 7.0]

##### Indexing i lister med tall - "indecies"
Lister har ikke "keys" og man kan derfor kun slå opp med "nummeret" til elementet.

In [61]:
f = ["En", "To", "Tre", "Fire", "Fem", "Seks", "Sju"]

In [62]:
# Indexing starter på 0 i Python (ulikt R?)
f[0]

'En'

In [64]:
# Man kan bruke negative tall for å plukke fra slutten
f[-2]

'Seks'

### "Slicing"
Man kan "indexe" med mer enn ett tall, om man er ute etter en range.

In [66]:
# Fra andre element til, men ikke inkludert, femte
f[0:3]
# 1+1 = andre, 4+1 = femte

['En', 'To', 'Tre']

In [67]:
# Fra andre element, helt til slutten
f[1:]

['To', 'Tre', 'Fire', 'Fem', 'Seks', 'Sju']

In [68]:
# ALle untatt siste element
f[:-1]

['En', 'To', 'Tre', 'Fire', 'Fem', 'Seks']

##### "Step"
Dette kan man bruke med feks .iloc i pandas, for å få rader med ett visst opphold mellom seg.

In [70]:
# Det tredje tallet er "step", så dette blir "annenhvert" element
f[::2]

['En', 'Tre', 'Fem', 'Sju']

In [71]:
# For å få partallene, kan man starte på det andre elementet
f[1::2]

['To', 'Fire', 'Seks']

### Index innover i "nested" iterables

In [85]:
x = 2
def ok():
    return x

In [86]:
ok()

2

In [87]:
x

2

In [79]:
# Kombiner listene våre inn i en ny liste
g = [e, f]
g

[[5, 'ok2', 6], ['En', 'To', 'Tre', 'Fire', 'Fem', 'Seks', 'Sju']]

In [76]:
e[2] = 6

In [77]:
e

[5, 'ok2', 6]

In [78]:
g

[[5, 'ok2', 6], ['En', 'To', 'Tre', 'Fire', 'Fem', 'Seks', 'Sju']]

In [73]:
# Dette er da en liste med to lister, vi kan hente den første listen i listen med å indexe inn:
g[0]

[5, 'ok2', 7.0]

In [74]:
# Og indexe inn i denne listen igjen, til dens elementer
g[0][1]

'ok2'

In [75]:
# Bonus: Strings kan også indexes i... 
# Her siste bokstaven i andre element av den første listen:
g[0][1][-1]

'2'

### Dicts har "keys"

In [ ]:
dict() = {}
list() = []
set() = ()

In [104]:
type(x)

list

In [101]:
x = {}

In [105]:
h = {
    "En" : 1,
    "To" : 2,
    "Tre" : 3,
    }

In [97]:
# Hva skjer når vi prøver å indexe som i lists?
h[0]

KeyError: 0

In [98]:
h.keys()

dict_keys(['En', 'To', 'Tre'])

In [106]:
h["En"]

1

In [107]:
# om man looper over en dict, får man i utgangspunktet bare keysene
for k in h:
    print(k)

En
To
Tre

In [109]:
# Men de kan man jo bruke til å slå opp i dicten...
for vilkÅØÆâérlig in h:
    print(h[vilkårlig])

1
2
3

In [ ]:
if x:

In [110]:
# Ett alternativ er å hente bare verdiene med "values()"
for i in h.values():
    print(i)

1
2
3

In [111]:
# Eller både keys og values med "items()".
for k, i in h.items():
    print(k, ":", i)

En : 1
To : 2
Tre : 3

##### Bonus: implisitt tuple-unpacking

In [ ]:
# Koden over bruker implisitt tuple-unpacking
# Denne returnerer en liste av tuples:
h.items()
# Når man sier "for k, i in", så forventer Python at det er "to verdier" for hver ting den looper over
# Den finner en tuple med to verdier der det skal være to verdier, og skjønner at vi vil ekstrahere dem ut i "k" og "i" for hver iterasjon av loopen.