### Ønske om repetisjon fra Kristian: "Indexing"

Det følgende er kopiert ut av "Begreper-arket" fra Dag1, med noen endringer

In [3]:
#Lag en liste
e = [5, '\nok', 7.0]
e

[5, '\nok', 7.0]

In [4]:
# Loop gjennom listen og print både verdien av variabelen, og typen til verdien.
for f in e:
    print(f)
    print(type(f))

5
<class 'int'>

ok
<class 'str'>
7.0
<class 'float'>

In [59]:
# Overskriv en verdi i listen med indexing
e[1] = "ok2"
e

[5, 'ok2', 7.0]

##### Indexing i lister med tall - "indecies"
Lister har ikke "keys" og man kan derfor kun slå opp med "nummeret" til elementet.

In [33]:
f = ["En", "To", "Tre", "Fire", "Fem", "Seks", "Sju"]

In [34]:
# Indexing starter på 0 i Python (ulikt R?)
f[0]

'En'

In [35]:
# Man kan bruke negative tall for å plukke fra slutten
f[-1]

'Sju'

### "Slicing"
Man kan "indexe" med mer enn ett tall, om man er ute etter en range.

In [36]:
# Fra andre element til, men ikke inkludert, femte
f[1:4]
# 1+1 = 2, 4+1 = 5

['To', 'Tre', 'Fire']

In [37]:
# Fra andre element, helt til slutten
f[1:]

['To', 'Tre', 'Fire', 'Fem', 'Seks', 'Sju']

In [38]:
# ALle untatt siste element
f[:-1]

['En', 'To', 'Tre', 'Fire', 'Fem', 'Seks']

##### "Step"
Dette kan man bruke med feks .iloc i pandas, for å få rader med ett visst opphold mellom seg.

In [39]:
# Det tredje tallet er "step", så dette blir "annenhvert" element
f[::2]

['En', 'Tre', 'Fem', 'Sju']

In [40]:
# For å få partallene, kan man starte på det andre elementet
f[1::2]

['To', 'Fire', 'Seks']

### Index innover i "nested" iterables

In [43]:
# Kombiner listene våre inn i en ny liste
g = [e, f]
g

[[5, '\nok', 7.0], ['En', 'To', 'Tre', 'Fire', 'Fem', 'Seks', 'Sju']]

In [44]:
# Dette er da en liste med to lister, vi kan hente den første listen i listen med å indexe inn:
g[0]

[5, '\nok', 7.0]

In [46]:
# Og indexe inn i denne listen igjen, til dens elementer
g[0][1]

'\nok'

In [48]:
# Bonus: Strings kan også indexes i... 
# Her siste bokstaven i andre element av den første listen:
g[0][1][-1]

'k'

### Dicts har "keys"

In [49]:
h = {
    "En" : 1,
    "To" : 2,
    "Tre" : 3
    }

In [50]:
# Hva skjer når vi prøver å indexe som i lists?
h[0]

KeyError: 0

In [18]:
h.keys()

dict_keys(['En', 'To', 'Tre'])

In [20]:
h["En"]

1

In [23]:
# om man looper over en dict, får man i utgangspunktet bare keysene
for k in h:
    print(k)

En
To
Tre

In [24]:
# Men de kan man jo bruke til å slå opp i dicten...
for k in h:
    print(h[k])

1
2
3

In [21]:
# Ett alternativ er å hente bare verdiene med "values()"
for i in h.values():
    print(i)

1
2
3

In [16]:
# Eller både keys og values med "items()".
for k, i in h.items():
    print(k, ":", i)

1 : En
2 : To
3 : Tre

##### Bonus: implisitt tuple-unpacking

In [26]:
# Koden over bruker implisitt tuple-unpacking
# Denne returnerer en liste av tuples:
h.items()
# Når man sier "for k, i in", så forventer Python at det er "to verdier" for hver ting den looper over
# Den finner en tuple med to verdier der det skal være to verdier, og skjønner at vi vil ekstrahere dem ut i "k" og "i" for hver iterasjon av loopen.

dict_items([('En', 1), ('To', 2), ('Tre', 3)])