# Videohjelp

In [2]:
from IPython.display import IFrame

# I Prodsonen
Kan vi laste sas-data rett fra linux-stammene, men ikke fra S: - H: - X:

### Hvordan få edx-kursmateriell inn i prodsonen

In [15]:
IFrame("https://web.microsoftstream.com/embed/video/18ae1be3-a6c5-4bb6-83dc-9319e15d0ed2?autoplay=false&showinfo=true", 
       width = 640, 
       height = 360)

### Python i prodsonen med stammedata

In [17]:
IFrame("https://web.microsoftstream.com/embed/video/5bc50672-5fd8-4369-9075-8b5a4047a938?autoplay=false&showinfo=true", 
       width = 640, 
       height = 360)

Simens post på yammer om at man kanskje bør velge prodsonen å lære seg først:\
https://web.yammer.com/main/threads/eyJfdHlwZSI6IlRocmVhZCIsImlkIjoiMTA2NDYwNTc5MTk5Mzg1NiJ9

Annonsering av Jupyterversjonen:\
https://web.yammer.com/main/threads/eyJfdHlwZSI6IlRocmVhZCIs...

I prodsonen - citrix bruk Chrome og gå til adressen:\
https://sl-python-02.ssb.no:8443

In [ ]:
# Eksempel innlastingskode av sasdata (mediebruksundersøkelsen)
stammepath = '/ssb/stamme03/kultmed/aar2020/wk24/medie_vekt_alle2020.sas7bdat'
df = pd.read_sas(stammepath, format = 'sas7bdat', encoding ='iso-8859-1')

"Root"-mappen din i denne instansen er "hjem-mappen" din på linux.

#### Kan vi skrive sas-data tilbake igjen?
https://stackoverflow.com/questions/49235845/export-pandas-dataframe-to-sas-sas7bdat-format \
Nei? Men vi kan kanskje skrive ett pythonscript for å generere "innlastings-SAS-kode"...

Bitbucket er ett alternativ til github.com og er delt mellom prodsonen og adminsonen, og kan nås på adressen:\
https://git-adm.ssb.no/

<hr>

# På Dapla

### Hvordan få edx-kursmateriell inn i Dapla

In [3]:
IFrame("https://web.microsoftstream.com/embed/video/9050c302-922f-4f39-b592-4f258ffc97c2?autoplay=false&showinfo=true", 
       width = 640, 
       height = 360)

## På dapla har vi biblioteket "dapla"
Men dette kan potensielt endre seg veldig snart

In [3]:
import dapla as dp
help(dp.execute)

Help on module dapla.execute in dapla:

NAME
    dapla.execute

FUNCTIONS
    details(path)

    read_pandas(path, columns=None)
        Read Parquet data from a path in Dapla.

        Parameters
        ----------
        path : str
            A path that will be mapped to a GCS path in Dapla
        columns : List[str], optional
            Subset of columns to read.

        Returns
        -------
        pyarrow.Table
            Content as a table (of columns).

    show(path)

    show_meta(path)

    write_pandas(df, path, **option_kwargs)

FILE
    /opt/conda/lib/python3.8/site-packages/dapla/execute.py

In [9]:
# Det du ser på er egentlig bare en dataframe...
dp.show('/felles/mock').head()

                                            path               timestamp
0  /felles/mock_sysselsatte/companies_2019_10000 2021-02-23 09:44:16.678
1  /felles/mock_sysselsatte/companies_2019_30000 2021-03-03 07:05:35.853
2  /felles/mock_sysselsatte/companies_2020_10000 2021-02-26 16:00:24.381
3  /felles/mock_sysselsatte/companies_2020_30000 2021-03-03 11:00:33.237
4  /felles/mock_sysselsatte/companies_2021_10000 2021-02-26 16:01:25.697

In [12]:
# Og kan manipuleres på samme måte
# Her loop over path-kolonnen
for x in dp.show('/felles/mock')['path']: 
    # print kun de som har "comp" og "30000" i navnet
    if 'comp' in x and '30000' in x: 
        print(x)

/felles/mock_sysselsatte/companies_2019_30000
/felles/mock_sysselsatte/companies_2020_30000
/felles/mock_sysselsatte/companies_2021_30000
/felles/mock_sysselsatte/companies_2022_30000
/felles/mock_sysselsatte/companies_2023_30000
/felles/mock_sysselsatte/companies_2024_30000

In [7]:
df = dp.read_pandas('/felles/mock_sysselsatte/companies_2019_30000')
df.sample(10)

        work_id    nace region_code                    region  employee_points
24    559023560  12.000          03                      Oslo               45
749   832925850  43.120          10        Vest-Agder (-2019)               12
756   400795411  46.510          12         Hordaland (-2019)               20
918   185786417  18.140          04           Hedmark (-2019)                7
212   771034507  01.440          01           Østfold (-2019)               12
1063  319813986  23.310          05           Oppland (-2019)                5
172   093591671  47.529          14  Sogn og Fjordane (-2019)               11
661   888844328  24.540          06          Buskerud (-2019)               34
359   461107179  49.410          50   Trøndelag - Trööndelage                5
18    870563989  05.200          02          Akershus (-2019)               28

In [ ]:
# Du bør vide hva du gjør når du skriver tilbake til dapla.
# Bla. skal verdivurdering være med som parameter, og "state" på dataene.
dp.write_pandas(df, '/felles/mock_sysselsatte/companies_2019_30000', valuation='INTERNAL', state= 'INPUT')