# Hva er en "Series"

In [ ]:
import pandas as pd

In [ ]:
# Dummy data
df = pd.DataFrame({
    'id' : ['123', '234', '345'],
    'alder' : [10, 20, 30],
    'kjonn' : ['Mann', 'Kvinne', 'Usikker'],
    'prosent' : [51.0, 32.0, 40.0]
})

In [ ]:
# Se på en av kolonnene
df['prosent']

In [ ]:
type(df['prosent'])

### En kolonne i Pandas kalles en "Series", det er ofte disse vi opererer på.

In [ ]:
# "Seriene" har en datatype
df.dtypes

#### Det vil si at dataene i cellene i hver rad, for seg, bør inneholde uniform data, helst...
Men python/pandas er lite, om ikke fleksibel...

In [ ]:
#df['alder'].iloc[2] = df.copy()
#reset:
df['alder'].iloc[2] = 30

In [ ]:
df

##### Ja... Vi har faktisk lagt en kopi av dataframeen inni en celle i dataframeen, men er det å anbefale?

In [ ]:
print(type(df['alder'].iloc[2]))
df['alder'].iloc[2]

In [ ]:
# Men hva skjedde med datatypen til kolonnen?
df['alder']

<hr>

# "Indexer" - navn på kolonner og rader

In [ ]:
df.index = ['Ola', 'Jørgine', 'Kim']
df

"Index" er da ikke en "sann kolonne", men "navnet på raden". \
Det er ganske likt at man også kan døpe om kolonnenavnene.

In [ ]:
df.columns = ['fnr', 'age', 'gender', 'percent']
df

In [ ]:
# Doble dataframen
pd.concat([df, df])

In [ ]:
# Når man gjør en fremstilling av en "groupby" får man en multi-index på rad-navn
df_grp = df.groupby(['fnr', 'gender']).mean()
df_grp

In [ ]:
df_grp.index

In [ ]:
# Man kan "resette indexen", men legg merke til at vi har mistet navngivingen på radene...
df_grp = df_grp.reset_index()
df_grp

# Hvilke "dtypes" har vi?

https://pbpython.com/pandas_dtypes.html

<table border="1" class="colwidths-given table table-condensed docutils">
<caption>Pandas dtype mapping</caption>
<colgroup>
<col width="13%">
<col width="13%">
<col width="38%">
<col width="38%">
</colgroup>
<thead valign="bottom">
<tr><th class="head">Pandas dtype</th>
<th class="head">Python type</th>
<th class="head">NumPy type</th>
<th class="head">Usage</th>
</tr>
</thead>
<tbody valign="top">
<tr><td>object</td>
<td>str or mixed</td>
<td>string_, unicode_, mixed types</td>
<td>Text or mixed numeric and non-numeric values</td>
</tr>
<tr><td>int64</td>
<td>int</td>
<td>int_, int8, int16, int32, int64, uint8, uint16, uint32, uint64</td>
<td>Integer numbers</td>
</tr>
<tr><td>float64</td>
<td>float</td>
<td>float_, float16, float32, float64</td>
<td>Floating point numbers</td>
</tr>
<tr><td>bool</td>
<td>bool</td>
<td>bool_</td>
<td>True/False values</td>
</tr>
<tr><td>datetime64</td>
<td>datetime</td>
<td>datetime64[ns]</td>
<td>Date and time values</td>
</tr>
<tr><td>category</td>
<td><span class="caps">NA</span></td>
<td><span class="caps">NA</span></td>
<td>Finite list of text values</td>
</tr>
</tbody>
</table>