In [24]:
import dapla as dp
import pandas as pd

In [25]:
# Se alle "mock"-datasettene i /felles/ på dapla
dp.show('/felles/mock')

                                              path               timestamp
0    /felles/mock_sysselsatte/companies_2019_10000 2021-02-23 09:44:16.678
1    /felles/mock_sysselsatte/companies_2019_30000 2021-03-03 07:05:35.853
2    /felles/mock_sysselsatte/companies_2020_10000 2021-02-26 16:00:24.381
3    /felles/mock_sysselsatte/companies_2020_30000 2021-03-03 11:00:33.237
4    /felles/mock_sysselsatte/companies_2021_10000 2021-02-26 16:01:25.697
5    /felles/mock_sysselsatte/companies_2021_30000 2021-03-03 11:05:14.427
6    /felles/mock_sysselsatte/companies_2022_10000 2021-02-26 16:02:25.987
7    /felles/mock_sysselsatte/companies_2022_30000 2021-03-03 11:10:23.890
8    /felles/mock_sysselsatte/companies_2023_10000 2021-02-26 16:03:14.080
9    /felles/mock_sysselsatte/companies_2023_30000 2021-03-03 11:14:50.105
10   /felles/mock_sysselsatte/companies_2024_30000 2021-03-03 09:56:22.390
11  /felles/mock_sysselsatte/population_2019_10000 2021-02-23 09:44:18.095
12  /felles/mock_sysselsatte/population_2019_30000 2021-03-03 07:05:37.135
13  /felles/mock_sysselsatte/population_2020_10000 2021-02-26 16:00:25.598
14  /felles/mock_sysselsatte/population_2020_30000 2021-03-03 11:00:35.487
15  /felles/mock_sysselsatte/population_2021_10000 2021-02-26 16:01:26.650
16  /felles/mock_sysselsatte/population_2021_30000 2021-03-03 11:05:15.945
17  /felles/mock_sysselsatte/population_2022_10000 2021-02-26 16:02:26.930
18  /felles/mock_sysselsatte/population_2022_30000 2021-03-03 11:10:24.872
19  /felles/mock_sysselsatte/population_2023_10000 2021-02-26 16:03:15.012
20  /felles/mock_sysselsatte/population_2023_30000 2021-03-03 11:14:50.821
21  /felles/mock_sysselsatte/population_2024_30000 2021-03-03 09:56:23.683

In [26]:
# Stapp datasettene som "objekter" inn i ett "variabelnavn"
comp = dp.read_pandas('/felles/mock_sysselsatte/companies_2019_30000')
pop = dp.read_pandas('/felles/mock_sysselsatte/population_2019_30000')

In [27]:
#Print preview av ett datasett
comp

        work_id    nace region_code                   region  employee_points
0     118415099  11.070          03                     Oslo               60
1     165189001  10.920          03                     Oslo               54
2     205912967  10.130          02         Akershus (-2019)               48
3     959013544  46.693          12        Hordaland (-2019)               46
4     405013223  09.900          02         Akershus (-2019)               88
...         ...     ...         ...                      ...              ...
1128  706734220  51.210          50  Trøndelag - Trööndelage               15
1129  156404021  74.200          18                 Nordland               23
1130  962214437  74.102          18                 Nordland               12
1131  999083400  43.341          10       Vest-Agder (-2019)               21
1132  438579667  27.900          07         Vestfold (-2019)               16

[1133 rows x 5 columns]

In [28]:
# Og det andre
pop

                id work_id      sex  age  year_birth  work_percent
0      29101946112    None     Menn    0        2019           NaN
1      26101930288    None     Menn    0        2019           NaN
2      22091952214    None     Menn    0        2019           NaN
3      04071997222    None     Menn    0        2019           NaN
4      07101970642    None     Menn    0        2019           NaN
...            ...     ...      ...  ...         ...           ...
29995  15072660901    None  Kvinner   93        1926           NaN
29996  23012604128    None  Kvinner   93        1926           NaN
29997  14102931680    None  Kvinner   90        1929           NaN
29998  29062932768    None  Kvinner   90        1929           NaN
29999  11072931487    None  Kvinner   90        1929           NaN

[30000 rows x 6 columns]

### Døp om variabler innad i kolonner, er dette "omkoding"?

In [29]:
# En dict av dicts, kolonnenavn: verdi - fra:til
omkodingskatalog = {
    'sex' : {
        'Menn' : 1,
        'Kvinner' : 2
    },
    'region' : {
        'Akershus (-2019)' : 'Akershus',
        'Hordaland (-2019)' : 'Hordaland',
        'Trøndelag - Trööndelage' : 'Trøndelag'
    }
}

# En av dictene i dicten
print(omkodingskatalog['sex'])
print(type(omkodingskatalog['sex']))

{'Menn': 1, 'Kvinner': 2}
<class 'dict'>

In [30]:
pop.replace(omkodingskatalog)

                id work_id  sex  age  year_birth  work_percent
0      29101946112    None    1    0        2019           NaN
1      26101930288    None    1    0        2019           NaN
2      22091952214    None    1    0        2019           NaN
3      04071997222    None    1    0        2019           NaN
4      07101970642    None    1    0        2019           NaN
...            ...     ...  ...  ...         ...           ...
29995  15072660901    None    2   93        1926           NaN
29996  23012604128    None    2   93        1926           NaN
29997  14102931680    None    2   90        1929           NaN
29998  29062932768    None    2   90        1929           NaN
29999  11072931487    None    2   90        1929           NaN

[30000 rows x 6 columns]

In [31]:
# Sjekk om det faktisk er omkodet, om replace() er "inplace"
pop

                id work_id      sex  age  year_birth  work_percent
0      29101946112    None     Menn    0        2019           NaN
1      26101930288    None     Menn    0        2019           NaN
2      22091952214    None     Menn    0        2019           NaN
3      04071997222    None     Menn    0        2019           NaN
4      07101970642    None     Menn    0        2019           NaN
...            ...     ...      ...  ...         ...           ...
29995  15072660901    None  Kvinner   93        1926           NaN
29996  23012604128    None  Kvinner   93        1926           NaN
29997  14102931680    None  Kvinner   90        1929           NaN
29998  29062932768    None  Kvinner   90        1929           NaN
29999  11072931487    None  Kvinner   90        1929           NaN

[30000 rows x 6 columns]

In [32]:
comp.replace(omkodingskatalog)

        work_id    nace region_code              region  employee_points
0     118415099  11.070          03                Oslo               60
1     165189001  10.920          03                Oslo               54
2     205912967  10.130          02            Akershus               48
3     959013544  46.693          12           Hordaland               46
4     405013223  09.900          02            Akershus               88
...         ...     ...         ...                 ...              ...
1128  706734220  51.210          50           Trøndelag               15
1129  156404021  74.200          18            Nordland               23
1130  962214437  74.102          18            Nordland               12
1131  999083400  43.341          10  Vest-Agder (-2019)               21
1132  438579667  27.900          07    Vestfold (-2019)               16

[1133 rows x 5 columns]

### Opprett en ny kolonne med "grupperingsvariabler", avhengig av en "katalog" fra KLASS

Landsinndeling
https://www.ssb.no/klass/klassifikasjoner/106

KLASS-API
https://data.ssb.no/api/klass/v1/api-guide.html

In [33]:
import json
import requests

# KLASS-query
url = 'http://data.ssb.no/api/klass/v1/correspondencetables/468'
headers = {'Accept': 'application/json'}
# Gjoer etterspoersel
r = requests.get(url, headers = headers)
# Av en eller annen grunn returnerer KLASS APIen json som bytestring...
# La oss decode...
cont = r.content.decode('utf8').replace("'", '"')
# Konverter til en liste vi kan bruke
cont = json.loads(cont)
cont = cont['correspondenceMaps']

In [34]:
# Det vi har fått fra KLASS er nå en liste med dicts
cont

[{'sourceCode': '1',
  'sourceName': 'Oslo og Viken',
  'targetCode': '03',
  'targetName': 'Oslo'},
 {'sourceCode': '1',
  'sourceName': 'Oslo og Viken',
  'targetCode': '30',
  'targetName': 'Viken'},
 {'sourceCode': '2',
  'sourceName': 'Innlandet',
  'targetCode': '34',
  'targetName': 'Innlandet'},
 {'sourceCode': '3',
  'sourceName': 'Agder og Sør-Østlandet',
  'targetCode': '38',
  'targetName': 'Vestfold og Telemark'},
 {'sourceCode': '3',
  'sourceName': 'Agder og Sør-Østlandet',
  'targetCode': '42',
  'targetName': 'Agder'},
 {'sourceCode': '4',
  'sourceName': 'Vestlandet',
  'targetCode': '11',
  'targetName': 'Rogaland'},
 {'sourceCode': '4',
  'sourceName': 'Vestlandet',
  'targetCode': '15',
  'targetName': 'Møre og Romsdal'},
 {'sourceCode': '4',
  'sourceName': 'Vestlandet',
  'targetCode': '46',
  'targetName': 'Vestland'},
 {'sourceCode': '5',
  'sourceName': 'Trøndelag',
  'targetCode': '50',
  'targetName': 'Trøndelag - Trööndelage'},
 {'sourceCode': '6',
  'sourceName': 'Nord-Norge',
  'targetCode': '18',
  'targetName': 'Nordland'},
 {'sourceCode': '6',
  'sourceName': 'Nord-Norge',
  'targetCode': '54',
  'targetName': 'Troms og Finnmark - Romsa ja Finnmárku - Tromssa ja Finmarkku'}]

In [35]:
# Loop over katalogen (så vi har tilgang på hver dict i listen)
for corr in cont:
    # En slags progress-rapport?
    print(corr['targetCode'], corr['sourceCode'])
    # Lag en ny kolonne for å holde på landsdel_koden, sett denne til sourceCode i katalogen, 
    # der region-koden matcher på targetCode.
    comp.loc[comp['region_code'] == corr['targetCode'], 'landsdel_kode' ] = corr['sourceCode']
    # Samme, bare for navnet på landsdelen
    comp.loc[comp['region_code'] == corr['targetCode'], 'landsdel_navn' ] = corr['sourceName']

03 1
30 1
34 2
38 3
42 3
11 4
15 4
46 4
50 5
18 6
54 6

In [36]:
comp[['region', 'landsdel_navn']].sample(10)

                       region landsdel_navn
268          Buskerud (-2019)           NaN
1018  Trøndelag - Trööndelage     Trøndelag
306                  Nordland    Nord-Norge
620                      None           NaN
504           Oppland (-2019)           NaN
770         Hordaland (-2019)           NaN
328     Troms - Romsa (-2019)           NaN
1032         Telemark (-2019)           NaN
404          Vestfold (-2019)           NaN
323           Oppland (-2019)           NaN

In [37]:
#Unike fylker som fortsatt mangler landsinndeling
pd.unique(comp[comp['landsdel_kode'].isna()]['region'])

array(['Akershus (-2019)', 'Hordaland (-2019)', 'Østfold (-2019)',
       'Buskerud (-2019)', 'Vestfold (-2019)', 'Troms - Romsa (-2019)',
       'Vest-Agder (-2019)', 'Hedmark (-2019)', 'Oppland (-2019)',
       'Telemark (-2019)', 'Sogn og Fjordane (-2019)',
       'Aust-Agder (-2019)', 'Finnmark - Finnmárku (-2019)', None],
      dtype=object)

In [39]:
# Da må man enten gå gjennom å knytte disse gamle fylkene til landsdeler, eller finne flere korrespondansetabeller
fylk_kod = pd.unique(comp[comp['landsdel_kode'].isna()]['region_code'])
fylk_kod

array(['02', '12', '01', '06', '07', '19', '10', '04', '05', '08', '14',
       '09', '20', None], dtype=object)

<hr>

### Bonus, mer avansert kode: tildel de resterende fylkene landsdeler med "Excelredigering" i ipysheet

In [67]:
import ipysheet as sheet
import numpy as np

In [68]:
df_landsd = pd.DataFrame(fylk_kod)
df_landsd.columns = ['region_code']
df_landsd['region'] = ''
df_landsd['landsdel_kode'] = ''

In [71]:
comp[comp['region_code'] == '02']['region'].iloc[0]

'Akershus (-2019)'

In [75]:
for i, r in df_landsd.iterrows():
    print(r['region_code'])
    if r['region_code']:
        print(comp[comp['region_code'] == r['region_code']]['region'].iloc[0])
        r['region'] = comp[comp['region_code'] == r['region_code']]['region'].iloc[0]

02
Akershus (-2019)
12
Hordaland (-2019)
01
Østfold (-2019)
06
Buskerud (-2019)
07
Vestfold (-2019)
19
Troms - Romsa (-2019)
10
Vest-Agder (-2019)
04
Hedmark (-2019)
05
Oppland (-2019)
08
Telemark (-2019)
14
Sogn og Fjordane (-2019)
09
Aust-Agder (-2019)
20
Finnmark - Finnmárku (-2019)
None

In [76]:
df_landsd

   region_code                        region landsdel_kode
0           02              Akershus (-2019)
1           12             Hordaland (-2019)
2           01               Østfold (-2019)
3           06              Buskerud (-2019)
4           07              Vestfold (-2019)
5           19         Troms - Romsa (-2019)
6           10            Vest-Agder (-2019)
7           04               Hedmark (-2019)
8           05               Oppland (-2019)
9           08              Telemark (-2019)
10          14      Sogn og Fjordane (-2019)
11          09            Aust-Agder (-2019)
12          20  Finnmark - Finnmárku (-2019)
13        None

In [85]:
last = ''
for corr in cont:
    kod = corr['sourceCode']
    nam = corr['sourceName']
    if last != kod:
        print(kod, ' : ', nam)
    last = kod

1  :  Oslo og Viken
2  :  Innlandet
3  :  Agder og Sør-Østlandet
4  :  Vestlandet
5  :  Trøndelag
6  :  Nord-Norge

In [78]:
landsdel_sheet = sheet.from_dataframe(df_landsd)
landsdel_sheet

Sheet(cells=(Cell(column_end=0, column_start=0, numeric_format=None, row_end=13, row_start=0, squeeze_row=Fals…

In [86]:
df_edit = sheet.to_dataframe(landsdel_sheet)
df_edit

   region_code                        region landsdel_kode
0           02              Akershus (-2019)             1
1           12             Hordaland (-2019)             4
2           01               Østfold (-2019)             1
3           06              Buskerud (-2019)             1
4           07              Vestfold (-2019)             3
5           19         Troms - Romsa (-2019)             6
6           10            Vest-Agder (-2019)             3
7           04               Hedmark (-2019)             2
8           05               Oppland (-2019)             1
9           08              Telemark (-2019)             1
10          14      Sogn og Fjordane (-2019)
11          09            Aust-Agder (-2019)
12          20  Finnmark - Finnmárku (-2019)
13        None

In [89]:
for i, r in df_edit.iterrows():
    reg = r['region_code']
    lands = r['landsdel_kode']
    
    if lands:
        comp.loc[comp['region_code'] == reg, 'landsdel_kode' ] = lands
        
        # Finn landsdelnavn utifra landsdelkode
        for corr in cont:
            kod = corr['sourceCode']
            nam = corr['sourceName']
            if lands == kod:
                break
        else:
            raise KeyError(f'Finner ikke landsdel: {lands}')
                        
            
        
        comp.loc[comp['region_code'] == reg, 'landsdel_navn' ] = nam

In [90]:
comp

,work_id,nace,region_code,region,employee_points,landsdel_kode,landsdel_navn
0,118415099,11.070,03,Oslo,60,1,Oslo og Viken
1,165189001,10.920,03,Oslo,54,1,Oslo og Viken
2,205912967,10.130,02,Akershus (-2019),48,1,Oslo og Viken
3,959013544,46.693,12,Hordaland (-2019),46,4,Vestlandet
4,405013223,09.900,02,Akershus (-2019),88,1,Oslo og Viken
...,...,...,...,...,...,...,...
1128,706734220,51.210,50,Trøndelag - Trööndelage,15,5,Trøndelag
1129,156404021,74.200,18,Nordland,23,3,Nord-Norge
1130,962214437,74.102,18,Nordland,12,3,Nord-Norge
1131,999083400,43.341,10,Vest-Agder (-2019),21,3,Agder og Sør-Østlandet
1132,438579667,27.900,07,Vestfold (-2019),16,3,Agder og Sør-Østlandet