# Snu = "Putt" en, eller flere, av kolonnene inn i radene

## Pivot_table()
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.pivot_table.html

In [1]:
import pandas as pd
import numpy as np
pop = pd.read_csv('../data/mock_sysselsatte/population_2019_30000.csv')
comp = pd.read_csv('../data/mock_sysselsatte/companies_2019_30000.csv')

### Oppgave: snu datasettet på ansatte per ensifrede nacekode per fylke

In [2]:
comp

,Unnamed: 0,work_id,nace,region_code,region,employee_points
0,0,118415099,11.070,3.0,Oslo,60
1,1,165189001,10.920,3.0,Oslo,54
2,2,205912967,10.130,2.0,Akershus (-2019),48
3,3,959013544,46.693,12.0,Hordaland (-2019),46
4,4,405013223,09.900,2.0,Akershus (-2019),88
...,...,...,...,...,...,...
1128,1128,706734220,51.210,50.0,Trøndelag - Trööndelage,15
1129,1129,156404021,74.200,18.0,Nordland,23
1130,1130,962214437,74.102,18.0,Nordland,12
1131,1131,999083400,43.341,10.0,Vest-Agder (-2019),21
1132,1132,438579667,27.900,7.0,Vestfold (-2019),16

In [3]:
comp2 = comp.copy()

In [4]:
# Lag ensiffret nacekode fra 5 sifret, ved å beholde det første tegnet med slicing
comp2['nace1'] = comp2['nace'].str[:1]
comp2

,Unnamed: 0,work_id,nace,region_code,region,employee_points,nace1
0,0,118415099,11.070,3.0,Oslo,60,1
1,1,165189001,10.920,3.0,Oslo,54,1
2,2,205912967,10.130,2.0,Akershus (-2019),48,1
3,3,959013544,46.693,12.0,Hordaland (-2019),46,4
4,4,405013223,09.900,2.0,Akershus (-2019),88,0
...,...,...,...,...,...,...,...
1128,1128,706734220,51.210,50.0,Trøndelag - Trööndelage,15,5
1129,1129,156404021,74.200,18.0,Nordland,23,7
1130,1130,962214437,74.102,18.0,Nordland,12,7
1131,1131,999083400,43.341,10.0,Vest-Agder (-2019),21,4
1132,1132,438579667,27.900,7.0,Vestfold (-2019),16,2

In [5]:
# Pivot table uten å filtrere ned først, siden vi definerer kolonnene vi er interesserte i med parametre
# Med "aggfunc" definerer vi hva som vil skje når det er flere verdier som overlapper på aksene
comp_piv = pd.pivot_table(comp2, 
               values = 'employee_points', 
               index = ['nace1'],
               columns = ['region'],
               aggfunc = np.sum  
                # Gjennomsnittlig ansatte per selskap isteden:
               # aggfunc = np.mean
              )
comp_piv

region,Akershus (-2019),Aust-Agder (-2019),Buskerud (-2019),Finnmark - Finnmárku (-2019),Hedmark (-2019),Hordaland (-2019),Møre og Romsdal,Nordland,Oppland (-2019),Oslo,Rogaland,Sogn og Fjordane (-2019),Telemark (-2019),Troms - Romsa (-2019),Trøndelag - Trööndelage,Vest-Agder (-2019),Vestfold (-2019),Østfold (-2019)
nace1,,,,,,,,,,,,,,,,,,
0,1411.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,788.0
1,465.0,NaN,NaN,NaN,518.0,NaN,NaN,NaN,29.0,2206.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,804.0,NaN,NaN,NaN,NaN,NaN,482.0,NaN,NaN,NaN,184.0,NaN,NaN,NaN,665.0,NaN
3,NaN,266.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,255.0,NaN,NaN,32.0,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,1554.0,749.0,NaN,NaN,NaN,1416.0,294.0,NaN,NaN,172.0,460.0,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1192.0,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,86.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,572.0,NaN,NaN,NaN,NaN,NaN,179.0,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,188.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,294.0,NaN,NaN,NaN,NaN

## Pivot()
Støtter til forskjell fra pivot_table, ikke aggregeringsfunksjoner. \
Men er tilgjengelig under dataframen, ikke pandaspakke i seg selv. \
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.pivot.html#pandas.DataFrame.pivot

In [8]:
comp_piv_simple = comp2.pivot(index = ['nace1', 'work_id'],
                            columns = 'region',
                            values = 'employee_points')
comp_piv_simple

region           NaN  Akershus (-2019)  Aust-Agder (-2019)  Buskerud (-2019)  \
nace1 work_id
NaN   587799322  0.0               NaN                 NaN               NaN
0     2102749    NaN               NaN                 NaN               NaN
      8727971    NaN               NaN                 NaN               NaN
      11116001   NaN               NaN                 NaN               NaN
      22649902   NaN               NaN                 NaN               NaN
...              ...               ...                 ...               ...
8     890843093  NaN               NaN                 NaN               NaN
      949419282  NaN               NaN                 NaN               NaN
      951653677  NaN               NaN                 NaN               NaN
      958992622  NaN               NaN                 NaN               NaN
      978668510  NaN               NaN                 NaN               NaN

region           Finnmark - Finnmárku (-2019)  Hedmark (-2019)  \
nace1 work_id
NaN   587799322                           NaN              NaN
0     2102749                             NaN              NaN
      8727971                             NaN              NaN
      11116001                            NaN              NaN
      22649902                            NaN              NaN
...                                       ...              ...
8     890843093                           4.0              NaN
      949419282                           1.0              NaN
      951653677                           NaN              NaN
      958992622                           NaN              NaN
      978668510                           2.0              NaN

region           Hordaland (-2019)  Møre og Romsdal  Nordland  \
nace1 work_id
NaN   587799322                NaN              NaN       NaN
0     2102749                  NaN              NaN       NaN
      8727971                  NaN              NaN       NaN
      11116001                 NaN              NaN       NaN
      22649902                 NaN              NaN       NaN
...                            ...              ...       ...
8     890843093                NaN              NaN       NaN
      949419282                NaN              NaN       NaN
      951653677                NaN              NaN       NaN
      958992622                NaN              NaN       NaN
      978668510                NaN              NaN       NaN

region           Oppland (-2019)  Oslo  Rogaland  Sogn og Fjordane (-2019)  \
nace1 work_id
NaN   587799322              NaN   NaN       NaN                       NaN
0     2102749                NaN   NaN       NaN                       NaN
      8727971                NaN   NaN       NaN                       NaN
      11116001               NaN   NaN       NaN                       NaN
      22649902               NaN   NaN       NaN                       NaN
...                          ...   ...       ...                       ...
8     890843093              NaN   NaN       NaN                       NaN
      949419282              NaN   NaN       NaN                       NaN
      951653677              NaN   NaN       NaN                       NaN
      958992622              NaN   NaN       NaN                       NaN
      978668510              NaN   NaN       NaN                       NaN

region           Telemark (-2019)  Troms - Romsa (-2019)  \
nace1 work_id
NaN   587799322               NaN                    NaN
0     2102749                 NaN                    NaN
      8727971                 NaN                    NaN
      11116001                NaN                    NaN
      22649902                NaN                    NaN
...                           ...                    ...
8     890843093               NaN                    NaN
      949419282               NaN                    NaN
      951653677               NaN                    5.0
      958992622               NaN                   21.0
      978668510               NaN                    NaN

region           Trøndelag - Trööndelage  Vest-Agder (-2019)  \
nace1 work_id
NaN   587799322                      NaN                 NaN
0     2102749                        NaN                 NaN
      8727971                        NaN                 NaN
      11116001                       NaN                 NaN
      22649902                       NaN                 NaN
...                                  ...                 ...
8     890843093                      NaN                 NaN
      949419282                      NaN                 NaN
      951653677                      NaN                 NaN
      958992622                      NaN                 NaN
      978668510                      NaN                 NaN

region           Vestfold (-2019)  Østfold (-2019)
nace1 work_id
NaN   587799322               NaN              NaN
0     2102749                 NaN              6.0
      8727971                 NaN              3.0
      11116001                NaN              4.0
      22649902                NaN              4.0
...                           ...              ...
8     890843093               NaN              NaN
      949419282               NaN              NaN
      951653677               NaN              NaN
      958992622               NaN              NaN
      978668510               NaN              NaN

[1133 rows x 19 columns]

In [9]:
# Alle selskapene på nace1 = 0
comp_piv_simple.loc['0'].head(30)

region,NaN,Akershus (-2019),Aust-Agder (-2019),Buskerud (-2019),Finnmark - Finnmárku (-2019),Hedmark (-2019),Hordaland (-2019),Møre og Romsdal,Nordland,Oppland (-2019),Oslo,Rogaland,Sogn og Fjordane (-2019),Telemark (-2019),Troms - Romsa (-2019),Trøndelag - Trööndelage,Vest-Agder (-2019),Vestfold (-2019),Østfold (-2019)
work_id,,,,,,,,,,,,,,,,,,,
2102749,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.0
8727971,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0
11116001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0
22649902,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0
25797167,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16.0
26824146,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.0
45777390,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18.0
50232617,NaN,16.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
62221914,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24.0
69179718,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.0
83947872,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
94846262,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0
107596681,NaN,14.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
116386153,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
121218727,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0
122274873,NaN,32.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
155368991,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.0
157249077,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16.0
160223402,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.0
176422014,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0
190153715,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0
204965731,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0
206453219,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.0
209920192,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.0
223455626,NaN,26.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
226005429,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22.0
229694211,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
235530186,NaN,30.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
256435979,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.0
282984638,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.0