# Pandas og operasjoner

- “kobling”
- “omkoding”
- “kolonnehåndtering”
- “grupperingsvariabler”
- “snu datasettet”
- “tabulate” / “krysse”

### Husk Boller og koding på onsdag
https://ssbno.sharepoint.com/sites/byraanettet/_layouts/15/Event.aspx?ListGuid=a0801a90-f230-4501-b2bb-a1182a162a94&ItemId=538 \
Ta gjerne med konkrete problemstillinger

<hr>

### Repetisjon: "Når bruker vi lists og dicts?"

In [1]:
import pandas as pd
# Forskjellen på å indexe på en string og en list av strings i pandas
df = pd.read_csv('../data/mock_sysselsatte/companies_2019_30000.csv')
df.columns

Index(['Unnamed: 0', 'work_id', 'nace', 'region_code', 'region',
       'employee_points'],
      dtype='object')

In [4]:
# Dette gir oss en "series", vi indexerer kun på en string
type(df['nace'])

pandas.core.series.Series

In [5]:
# Dette gir oss en dataframe med én kolonne, vi indexerer med en list.
type(df[['nace']])

pandas.core.frame.DataFrame

In [6]:
df.columns

Index(['Unnamed: 0', 'work_id', 'nace', 'region_code', 'region',
       'employee_points'],
      dtype='object')

In [8]:
# En nyttig dict, "key : value"
omkoding = {
    'employee_points' : 'Ansatte',
    'Unnamed: 0' : 'slett', 
    'work_id' : 'Arbeidssted', 
    'nace' : 'Næringskode', 
    'region_code' : 'RegionsKode', 
    'region' : 'RegionID'
}

In [13]:
# Døp om kolonnene
df = df.rename(columns = omkoding)

In [12]:
# Skrev vi over nå?
df
# Nei, rename() er ikke "inplace" / "copy"

,slett,Arbeidssted,Næringskode,RegionsKode,RegionID,Ansatte
0,0,118415099,11.070,3.0,Oslo,60
1,1,165189001,10.920,3.0,Oslo,54
2,2,205912967,10.130,2.0,Akershus (-2019),48
3,3,959013544,46.693,12.0,Hordaland (-2019),46
4,4,405013223,09.900,2.0,Akershus (-2019),88
...,...,...,...,...,...,...
1128,1128,706734220,51.210,50.0,Trøndelag - Trööndelage,15
1129,1129,156404021,74.200,18.0,Nordland,23
1130,1130,962214437,74.102,18.0,Nordland,12
1131,1131,999083400,43.341,10.0,Vest-Agder (-2019),21
1132,1132,438579667,27.900,7.0,Vestfold (-2019),16