### Begreper fra SAS-verden
(Vanskelig å google)\
Hvilke analoger har vi?
- "Kode"
- "Variabel"
- "PROC" = Procedure = Function ?
- "Macrovariabel"
- "Macroer"
- "Koble"
- "Omkoding"
- "Grupperingsvariabel" - "Formater"
- "Datatyper": Bare "karakter" og "numerisk"?

### Begreper fra "objekt-orientert"-python-verden

Grunnleggende komponenter
- Variable
- Object ("everything is an object")
- Class

### En variabel med navn "x" av classen "int" er registrert som ett objekt med verdien "6".

In [3]:
x = 6

In [4]:
type(x)

int

In [6]:
#help(int)

##### Vi overskriver variabelen "x" med ett objekt av classen "float" med verdi "7.0"

In [3]:
x = 7.0

In [4]:
type(x)

float

##### Variabelen er den samme, men har et annet objekt tilknyttet seg.
Det nye objektet/"instansen", er av classen/"objekttypen": float

In [6]:
#help(float)

### Variabelen "y" av classen "string" peker mot ett objekt som inneholder "Ola".

In [58]:
y = "Ola"
#help(type(y))

### Bonus: F-strings

In [62]:
f"{y} er {int(16 + x)} år."

'Ola er 23 år.'

In [64]:
# Muliggjør innbaking av video i notebooken
from IPython.display import IFrame

### Videohjelp: Datatyper

In [65]:
IFrame("https://web.microsoftstream.com/embed/video/e6fe71ad-0294-44fc-9317-ce01d57c7f10?autoplay=false&showinfo=true", 
       width = 640, 
       height = 360)

### Videohjelp: Logikk, loops, funksjoner

In [63]:
IFrame("https://web.microsoftstream.com/embed/video/bab18ae8-30e2-435a-8be7-b13412f5c4bf?autoplay=false&showinfo=true", 
       width = 640, 
       height = 360)

### Logikk
- Operators
    - != / is not
    - == / is
    - < / <= smaller than
    - \> / >= greater than
    - & / and
    - | / or

In [11]:
z = 5
a = z
z == a

True

In [12]:
z is a

True

In [110]:
b = []
c = b.copy()

c == b

True

In [111]:
# Her er det en forskjell mellom "==" og "is"
c is b

False

In [18]:
c == b and z == a

True

In [33]:
False and True

False

In [31]:
False or True

True

### Loops / tab inn

- If/Else
- For / While
- Try / Except

In [40]:
# indentation and whitespace
if 1:
    if []:
        ...
    else:
        for i in range(5):
            print(i)

0
1
2
3
4

In [45]:
try:
    x = 54
    x = x.replace("5", "0")
    print(x)
except:
    print("\nfåkke til det der ass")

fåkke til det der ass

# Innhold
- Datatypes
    - String
    - Int
    - Float

In [47]:
d = "5"
#d = 5
#d = 5.0
#help(type(d))

### "iterables"
    - List
        - Comprehensions
    - Tuple
    - Dict
    - Sets

In [53]:
e = [5, '\nok', 7.0]
for f in e:
    print(f)
    print(type(f))

5
<class 'int'>

ok
<class 'str'>
7.0
<class 'float'>

In [59]:
# Overskriv en verdi i listen med indexing
e[1] = "ok2"
e

[5, 'ok2', 7.0]

In [63]:
g = (205, "verdi3")
# Tuples er "immutable", og kan derfor ikke overskrives, eller legges til
g[2] = "nyverdi"

TypeError: 'tuple' object does not support item assignment

In [64]:
h = {1: "En",
    "23": range(2,4)
    }

In [65]:
h[1]

'En'

In [67]:
for i in h["23"]:
    print(i)

2
3

### Dataframe (fra pandas)
    - Kolonner (Series): object, int64, category

In [68]:
import pandas as pd

In [72]:
j = pd.DataFrame(
    {
        "col1" : [1, 2, 3],
        2 : ["En", "To", "Tre"],
        7.0 : ["One", "Two", "Three"],
        "floats" : [1.0, 2.0, 3.0]
    }
)
j

   col1    2    7.0  floats
0     1   En    One     1.0
1     2   To    Two     2.0
2     3  Tre  Three     3.0

In [73]:
j.dtypes

col1        int64
2          object
7.0        object
floats    float64
dtype: object

In [82]:
k = j[j['col1'] == 1][2]
print(type(k))
print(k)

<class 'pandas.core.series.Series'>
0    En
Name: 2, dtype: object

### Operasjoner
- Function / Method
- Library / Package
- Indexing
    - index
    - key / values
    - slicing

In [86]:
def L(l):
    return l.lower()

In [87]:
L("Carl")

'carl'

In [51]:
class textbehandling():
    # Dette er en "docstring" som tilhører classen som helhet
    """Her lager vi vår egen class"""
    # Variabler som tilhører classes kalles gjerne "attributes" eller "class variables"
    default_name = "Ola"
   
    # En "method" er bare en funksjon som ligger under en class
    # Denne har parameteret sitt satt til en default som er definert inne i classen.
    def U(u = default_name):
        # Dette er en "docstring" som tilhører metoden
        """ Vi stjeler bare funksjonen 'upper' fra classen 'string' """
        return u.upper()

In [40]:
textbehandling.U("Carl")

'CARL'

In [41]:
textbehandling.U()

'OLA'

In [42]:
textbehandling.default_name

'Ola'

In [52]:
#help(textbehandling.U)
help(textbehandling)
# Her dukker "docstringene" opp

Help on class textbehandling in module __main__:

class textbehandling(builtins.object)
 |  Her lager vi vår egen class
 |
 |  Methods defined here:
 |
 |  U(u='Ola')
 |      Vi stjeler bare funksjonen 'upper' fra classen 'string'
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  __dict__
 |      dictionary for instance variables (if defined)
 |
 |  __weakref__
 |      list of weak references to the object (if defined)
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  default_name = 'Ola'

In [47]:
# Alle innstallerte lister
#!pip list

In [48]:
# Denne er innstallert på dapla, men kanskje ikke ellers
from fuzzywuzzy import fuzz
# Med den kan man gjøre "fuzzy string matching"

In [49]:
#help(fuzz)

In [50]:
fuzz.ratio("Carl er glad", "Carl er gal")

87

### Filosofi

In [ ]:
import this

#### "PEP"-er
https://www.python.org/dev/peps/pep-0001/