### Begreper fra SAS-verden
(Vanskelig å google)
- "Kode"
- "Variabel"
- "Koble"
- "Omkoding"
- "Grupperingsvariabel"

### Begreper fra "objekt-orientert"-python-verden

Grunnleggende komponenter
- Variable
- Object
- Class ("everything is a class")

In [3]:
x = 6

In [4]:
type(x)

int

In [6]:
#help(int)

#### En variabel med navn "x" av classen "int" er registrert som ett objekt med verdien "6".

In [10]:
y = "Ola"
#help(type(y))

#### Variabelen "y" av classen "string" peker mot ett objekt som inneholder "Ola".

### Logikk
- Operators
    - != / is not
    - == / is
    - < / <= smaller than
    - \> / >= greater than
    - & / and
    - | / or

In [11]:
z = 5
a = z
z == a

True

In [12]:
z is a

True

In [15]:
b = []
c = b.copy()
c == b

True

In [17]:
# Her er det en forskjell mellom "==" og "is"
c is b

False

In [18]:
c == b and z == a

True

In [33]:
False and True

False

In [31]:
False or True

True

### Loops / tab inn

- If/Else
- For / While
- Try / Except

In [40]:
# indentation and whitespace
if 1:
    if []:
        ...
    else:
        for i in range(5):
            print(i)

0
1
2
3
4

In [45]:
try:
    x = 54
    x = x.replace("5", "0")
    print(x)
except:
    print("\nfåkke til det der ass")

fåkke til det der ass

# Innhold
- Datatypes
    - String
    - Int
    - Float

In [47]:
d = "5"
#d = 5
#d = 5.0
#help(type(d))

### "iterables"
    - List
        - Comprehensions
    - Tuple
    - Dict
    - Sets

In [53]:
e = [5, '\nok', 7.0]
for f in e:
    print(f)
    print(type(f))

5
<class 'int'>

ok
<class 'str'>
7.0
<class 'float'>

In [59]:
# Overskriv en verdi i listen med indexing
e[1] = "ok2"
e

[5, 'ok2', 7.0]

In [63]:
g = (205, "verdi3")
# Tuples er "immutable", og kan derfor ikke overskrives, eller legges til
g[2] = "nyverdi"

TypeError: 'tuple' object does not support item assignment

In [64]:
h = {1: "En",
    "23": range(2,4)
    }

In [65]:
h[1]

'En'

In [67]:
for i in h["23"]:
    print(i)

2
3

### Dataframe (fra pandas)
    - Kolonner (Series): object, int64, category

In [68]:
import pandas as pd

In [72]:
j = pd.DataFrame(
    {
        "col1" : [1, 2, 3],
        2 : ["En", "To", "Tre"],
        7.0 : ["One", "Two", "Three"],
        "floats" : [1.0, 2.0, 3.0]
    }
)
j

   col1    2    7.0  floats
0     1   En    One     1.0
1     2   To    Two     2.0
2     3  Tre  Three     3.0

In [73]:
j.dtypes

col1        int64
2          object
7.0        object
floats    float64
dtype: object

In [82]:
k = j[j['col1'] == 1][2]
print(type(k))
print(k)

<class 'pandas.core.series.Series'>
0    En
Name: 2, dtype: object

### Operasjoner
- Function / Method
- Library / Package
- Indexing
    - index
    - key / values
    - slicing

In [86]:
def L(l):
    return l.lower()

In [87]:
L("Carl")

'carl'

In [89]:
class textbehandling():
    # En "method" er bare en funksjon som ligger under en class
    def U(u):
        return u.upper()

In [91]:
textbehandling.U("Carl")

'CARL'

In [90]:
help(textbehandling.U)

Help on function U in module __main__:

U(u)
    # En "method" er bare en funksjon som ligger under en class

In [106]:
# Alle innstallerte lister
#pip list

In [107]:
# Denne er innstallert på dapla, men kanskje ikke ellers
from fuzzywuzzy import fuzz
# Med den kan man gjøre "fuzzy string matching"

In [108]:
#help(fuzz)

In [109]:
fuzz.ratio("Carl er glad", "Carl er gal")

87

### Filosofi

In [ ]:
import this

#### "PEP"-er
https://www.python.org/dev/peps/pep-0001/