### Begreper fra SAS-verden
Vi bruker veldig mange begreper i SSB.
noen av disse kommer direkte fra SAS som kodespråk.
Andre kommer som en følge av handlinger vi har gjordt lenge,
og utviklet våre lokale stamme språk og sleng uttrykk.
Noen av disse har veldig tydelige betydninger,
mens andre ord kan ha fått forskjellige betydninger i
forskjellig seksjoenr. Når personer fra forskjellige stamme språk skal prøve og kommunisere
kan dette føre til missforståelser og uklarheter. Av den grunn har vi sammlet noen av de
vanligste synderne på dette området, og gjordt ett forsøk på å klarifisere dem.

(Vanskelig å google)\
Hvilke analoger har vi?
- "Kode"
- "Variabel"
- "PROC" = Procedure = Function ?
- "Macrovariabel"
- "Macroer"
- "Koble"
- "Omkoding"
- "Grupperingsvariabel" - "Formater"
- "Datatyper": Bare "karakter" og "numerisk"?

#### "kode"
Begrepet er ikke det enkleste og oversette ved googling da det i
SSB omfatter både ett verb og ett subjekt. Verbet og kode kan i seg selv deles inn i to
det og oversette fra en numerisk verdi som `0`og `1` til ett tekstlig lable som `Mann` og
`kvinne`.

Det kan imidlertid også omfatte handling av å skrive SAS kode, for ett produksjons løp.
Mengden og kompleksiteten av "koding" kan variere. Noen har også adre småbegreper for
mindre oppgaver som endring av `%LET` makroer. Eller større oppgaver som å lage ett nytt
produksjons løp eller en omskriving. men sammle begrepet er `Koding`.

Når det kommer til subjektet "kode" så splitter dette langs de samme linjene som verbet.
i `1= mann` så betegens 1-tellet noen ganger som koden for mann. SAS programmene inneholder
kode.

For å unngå forvirringer så refererer vi til begrepet "kode" som den funksjonelle teksten du skriver
som eksekveres, enten i SAS, R, Python eller annet programmeringsspråk.
Andre områder som bruker begrepet "kode" bør heller gjøres mer spesifikk eller endres,
feks. "svaralternativ" eller "tallkode i kategorisk kolonne" osv.

#### "Variabel"
Variabel er enda ett kjært barn. mange har sterke forhold til hva en variabel er og hvordan den skal oppføre seg.
I akkuratt dette tilfelelt så er det meget sannsynlig store behov for oppklaringer da en variabel er noe helt
annet når man søker opp på internett for å lære seg Python eller R, en det er når vi snakker om det i SSB.

I SSB tenker vi ofte op en variabel som en kolonne i ett datasett. Kjønn er en variabel i ett data sett.
Org_nummer er en variabel. Ett alternativ i ett skjema er også blidt omtalt som en variabel.

Noen omtaler det som fylles inn ette `%LET` som en variabel. Disse er de som er nærmest bruken av orden Variabel
I R og python verden så er en Variabel det som ligger forran likhets tegnet
```
variabel = 30
variabel = "Hello World"

```

#### "PROC"
Dette er ett begrep som kommer direkte fra SAS verdenen og på mange måter er veldig tett knyttet til det å jobbe
SAS som programerings språk opperer med prosedyrer disse kallet med prefixen `PROC`. I SAS kjøres disse procedyrene
i rekkefølge fra første til siste.

Dette konseptet med prosedyrer er ikke tilstedet i hverken Python eller R. 
Begge disse programerings språkene

#### "Macroer"
I dette tilfellet er det som regel snakk om makroer i SAS. Dette er på mange måter ett eget programerings språk
innen SAS økosystemet. Makroer er blokker av kode som kan kjøres over prosesser og systemer.

#### "Macrovariabel"
Makro variabler er enda en av de begrepene som deler navn med en ting, men er noe annnet.
Makro variabler i SSB er ofte den verdiern du tilskriver til entne `%LET` eller det du mater inn i en SAS macro
funksjon.

Ett annet bruksområde ordet brukes til tider er i situasjoner der flere variabler (kollonner)
i ett data sett er aggregert til en høyere nivåes informasjon.

#### "Koble"
Dette er ett av de mest forvirrende ordet vi har i stattistikk produksjon i SSB.
I sitt mest snevre format brukes dette for en `merge` eller `join`.
I andre tilfeller refferer det til handlingen og gjøre ett oppslag mot en korrespondanse tabell.
Det har også vært brukt for å teste og se hvor mange rader som ineholder ett gitt felt.
Vi har til og med hørt det brukt som en betegnesle på  det og lage ett produksjons løp.

Dette mangfoldet av bruksområdet har gjordt dette til ett megett forvirrende begrep.
Fremmover kommer vi kun til å bruke dette ordet for å beskrive handlingen å `merge` eller `joine`to datasett sammen.

#### "Omkoding"
Omkoding som begrep omfatter en rekke transformasjone av data. mor min (Simen) del så omfatter begrepet det å bytte
fra en formalisert kode liste til en annen. I SSB så brukes dette begrepet også om det å endre verdien i
en gitt celle i datasettet. Det kan også bety at man lager en ny kolonne med en ny verdi bassert på
den første kolonne.

Det har også vært brukt for å beskrive overgangen fra nummerisk verdi til en "label"
som innimellom også betegnes som kobling.

#### "Grupperingsvariabel" - "Formater"
I Statistikk produksjon er Grupperings variabler kolonner som inneholder kattegoriske variabler som danner
naturlig sorterings elementer. Det vil si at dersom du kjører en `groupBy` på disse variabelene får du
et dattasett med en logisk aggrigerings grad.

Teoretisk sett så kan nesten alle kolonner brukes som grupperings variabler.
Men det er ikke det gir mening og gruppere på.
Ett eksempel er at det har lite hensikt og gruppere direkte på en persons årslønn, da variasjonen i lønninger
forårsaker store mengder støy i data settet. Det er da mye bedre og lage en kattegorisk kolonne med
lønns grupperinger, dette er da grupperings variableen for årslønn.

#### "Datatyper": Bare "karakter" og "numerisk"?
SAS opperer kun med to data typer. Det er `karakter`og `numerisk`. En numerisk kolonne kan kun inneholde verdiene
`0123456789.,` det er disse kolonnene man kan gjennomføre mattematiksk beregninger over.

`karakter`kolonner kan inne holde alle mulige tegn, og vil fra SAS sin side bli behandlet som kattegoriske.
Det vil si at det ikke gir mening og de gjennomsnitt verdien på navn (`karakter`), men det er fult mulig
og ta gjennomsnittet på høyde (`ummerisk`)

Mer generiske programerings språk som R og Pyhon oppererer på langt flere data typer, som gjrø det mulig og
spessifisere oppførselen til disse på en helt annen måte. men mer om det senere.

Det vi forsøker og få frem at det i SSB er mange utrykk som har flere, og ofte forskjellige betydninger.
Dette er med på skape en god del forvirringer og usikkerheter blandt brukerne.
I tillegg så er flere av disse begrepen brukt i opplærings øyemed, men da ganske ofte ikke med de
betydningen vi er blidt vandt til fra hverdagen i SSB.

### Begreper fra "objekt-orientert"-python-verden

Grunnleggende komponenter
- Variable
- Object ("everything is an object")
- Class

### En variabel med navn "x" av classen "int" er registrert som ett objekt med verdien "6".

In [3]:
x = 6

In [4]:
type(x)

int

In [6]:
#help(int)

##### Vi overskriver variabelen "x" med ett objekt av classen "float" med verdi "7.0"

In [3]:
x = 7.0

In [4]:
type(x)

float

##### Variabelen er den samme, men har et annet objekt tilknyttet seg.
Det nye objektet/"instansen", er av classen/"objekttypen": float

In [6]:
#help(float)

### Variabelen "y" av classen "string" peker mot ett objekt som inneholder "Ola".

In [58]:
y = "Ola"
#help(type(y))

### Bonus: F-strings

In [62]:
f"{y} er {int(16 + x)} år."

'Ola er 23 år.'

### Logikk
- Operators
    - != / is not
    - == / is
    - < / <= smaller than
    - \> / >= greater than
    - & / and
    - | / or

In [11]:
z = 5
a = z
z == a

True

In [12]:
z is a

True

In [110]:
b = []
c = b.copy()

c == b

True

In [111]:
# Her er det en forskjell mellom "==" og "is"
c is b

False

In [18]:
c == b and z == a

True

In [33]:
False and True

False

In [31]:
False or True

True

### Loops / tab inn

- If/Else
- For / While
- Try / Except

In [40]:
# indentation and whitespace
if 1:
    if []:
        ...
    else:
        for i in range(5):
            print(i)

0
1
2
3
4

In [45]:
try:
    x = 54
    x = x.replace("5", "0")
    print(x)
except:
    print("\nfåkke til det der ass")

fåkke til det der ass

# Innhold
- Datatypes
    - String
    - Int
    - Float

In [47]:
d = "5"
#d = 5
#d = 5.0
#help(type(d))

### "iterables"
    - List
        - Comprehensions
    - Tuple
    - Dict
    - Sets

In [53]:
e = [5, '\nok', 7.0]
for f in e:
    print(f)
    print(type(f))

5
<class 'int'>

ok
<class 'str'>
7.0
<class 'float'>

In [59]:
# Overskriv en verdi i listen med indexing
e[1] = "ok2"
e

[5, 'ok2', 7.0]

In [63]:
g = (205, "verdi3")
# Tuples er "immutable", og kan derfor ikke overskrives, eller legges til
g[2] = "nyverdi"

TypeError: 'tuple' object does not support item assignment

In [64]:
h = {1: "En",
    "23": range(2,4)
    }

In [65]:
h[1]

'En'

In [67]:
for i in h["23"]:
    print(i)

2
3

### Dataframe (fra pandas)
    - Kolonner (Series): object, int64, category

In [68]:
import pandas as pd

In [72]:
j = pd.DataFrame(
    {
        "col1" : [1, 2, 3],
        2 : ["En", "To", "Tre"],
        7.0 : ["One", "Two", "Three"],
        "floats" : [1.0, 2.0, 3.0]
    }
)
j

   col1    2    7.0  floats
0     1   En    One     1.0
1     2   To    Two     2.0
2     3  Tre  Three     3.0

In [73]:
j.dtypes

col1        int64
2          object
7.0        object
floats    float64
dtype: object

In [82]:
k = j[j['col1'] == 1][2]
print(type(k))
print(k)

<class 'pandas.core.series.Series'>
0    En
Name: 2, dtype: object

### Operasjoner
- Function / Method
- Library / Package
- Indexing
    - index
    - key / values
    - slicing

In [86]:
def L(l):
    return l.lower()

In [87]:
L("Carl")

'carl'

In [51]:
class textbehandling():
    # Dette er en "docstring" som tilhører classen som helhet
    """Her lager vi vår egen class"""
    # Variabler som tilhører classes kalles gjerne "attributes" eller "class variables"
    default_name = "Ola"
   
    # En "method" er bare en funksjon som ligger under en class
    # Denne har parameteret sitt satt til en default som er definert inne i classen.
    def U(u = default_name):
        # Dette er en "docstring" som tilhører metoden
        """ Vi stjeler bare funksjonen 'upper' fra classen 'string' """
        return u.upper()

In [40]:
textbehandling.U("Carl")

'CARL'

In [41]:
textbehandling.U()

'OLA'

In [42]:
textbehandling.default_name

'Ola'

In [52]:
#help(textbehandling.U)
help(textbehandling)
# Her dukker "docstringene" opp

Help on class textbehandling in module __main__:

class textbehandling(builtins.object)
 |  Her lager vi vår egen class
 |
 |  Methods defined here:
 |
 |  U(u='Ola')
 |      Vi stjeler bare funksjonen 'upper' fra classen 'string'
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  __dict__
 |      dictionary for instance variables (if defined)
 |
 |  __weakref__
 |      list of weak references to the object (if defined)
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  default_name = 'Ola'

In [47]:
# Alle innstallerte lister
#!pip list

In [48]:
# Denne er innstallert på dapla, men kanskje ikke ellers
from fuzzywuzzy import fuzz
# Med den kan man gjøre "fuzzy string matching"

In [49]:
#help(fuzz)

In [50]:
fuzz.ratio("Carl er glad", "Carl er gal")

87

### Filosofi

In [ ]:
import this

#### "PEP"-er
https://www.python.org/dev/peps/pep-0001/